{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Score Tracker</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styling/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Music&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>


{% comment %} NAVIGATION {% endcomment %}
<header>

    {% include "partials/navbar.html" %}

    <div class="page_info">
    <h1>
        {% block page_title %}{% endblock page_title %}
    </h1>

    <h2>
        {% block page_desc %}{% endblock page_desc %}
    </h2>
    </div>

    


</header>


<main>
    {% block page_content %}{% endblock page_content %}
</main>

</body>
</html>