* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

body {
    background-color: whitesmoke;
}

.score_card {
    background-color: #2a9d8f;
    color: black;
    width: 200px;
}

.score_card__preview {
    width: 100%;
    aspect-ratio: 9/16;
    background-color: orange;
}


main, .page_info {
    width: 80%;
    margin: 0 auto;
}

h1 {
    color: royalblue;
    font-weight: 900;
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 20px;
    font-size: 1.20rem;
    width: 50%;
    color: gray;
}